#ma_mode_container {
	padding: 8px;
	label {
		display: inline-block;
		margin-bottom: 1em;
		background-color: var(--input-background-color);
		border: 1px solid var(--border-color);
		border-radius: 4px;
		box-shadow: var(--card-border-shadow);
		padding: 1em;
		text-align: center;
		width: 100px;
		img {
			display: block;
			margin: 1em auto;
			clear: both;
		}
		&:focus-within {
			background-color: var(--secondary-color) !important;
			border-color: var(--primary-color);
			color: var(--primary-color) !important;
		}
	}
}
#ma_brand_container {
	padding: 8px;
	.image-preview-wrapper {
		img {
			width: 160px;
			height: 160px;
			object-fit: cover;
		}
	}
}
