.theme-browser {
	.themes {
		.theme {
			border-radius: 5px;
			border-color: var(--border-color);
			box-shadow: var(--card-border-shadow);
			overflow: hidden;
			.theme-screenshot {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
			.notice {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
			.theme-actions {
				padding: 4px 9px !important;
			}
			&.add-new-theme {
				a:after {
					border: 1px dashed var(--border-color) !important;
					border-radius: 5px;
				}
				.theme-name {
					color: var(--text-color);
				}
			}
		}
	}
}
