#adminmenumain {
	#adminmenuback {
		//box-shadow: rgba(0, 0, 0, 0.4) 2px 0 4px;
		top: 3em;
		left: 0.5em;
		bottom: 0.5em;
		border-radius: 5px;
		box-shadow: var(--card-border-shadow);
		background: var(--secondary-color);
		border: 1px solid var(--border-color-hover);
		opacity: 0.8;
	}

	#adminmenuwrap {
		top: 6px;
		left: 0.5em;
		border-radius: 5px;
		background: transparent;
		height: 100%;
		position: relative !important;

		#menu_user_profile_container {
			z-index: 5;
			text-align: center;
			width: 100%;
			padding: 10px 0;
			margin-top: 1em;
			.picture_profile {
				width: 50px;
				height: 50px;
				border-radius: 25px;
				box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.5),
					0 0 0px 2px rgba(0, 0, 0, 0.3);
			}
		}

		#ma_brand_image {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			margin: 1px 0 -47px 1px;
			width: 100%;
			height: auto;
			object-fit: cover;
			img {
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
			}
		}

		#adminmenu {
			background: transparent;
			box-sizing: border-box;
			margin: 0.5em 0;
			padding: 0 0.4em 0 0.6em;
			/*
			position: absolute;
			top: 215px;
			bottom: 6px;
			//clip-path: inset(0 -180px 0px 0px);
			*/
			.wp-submenu {
				width: auto;
				background: var(--primary-color);
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
				margin-bottom: 5px;
				//------------------
				animation-name: slideDown;
				animation-duration: 500ms;
				animation-timing-function: ease-out;
				//------------------

				a {
					margin: 5px;
					padding: 5px;
					&:hover {
						background-color: var(--secondary-color);
						color: var(--text-color);
					}
					&:after {
						border-right-color: transparent;
					}
				}
			}
			li {
				background: transparent;
				a {
					border-radius: 4px;
					transition: background-color 0.5s ease-out !important;
					color: var(--primary-text-color);
					padding: 0.2em 0.2em 0 0.2em;
					line-height: 1em !important;
					margin-bottom: 0;
					&:hover {
						background-color: var(--primary-color);
						box-shadow: none;
						transition: background-color 0s linear !important;
						.wp-menu-name {
							color: var(--primary-text-color);
						}
					}
					&:focus {
						box-shadow: none;
					}
					&.menu-top:focus {
						background-color: var(--primary-color) !important;
					}
					&:after {
						border-right-color: transparent;
					}
				}
				&.current {
					a {
						&.menu-top {
							background-color: var(--primary-color);
							color: var(--primary-text-color);
						}
						&.current::after {
							border-right-color: transparent;
						}
					}
				}
				&.opensub > a.menu-top {
					background-color: var(--primary-color) !important;
				}

				&.wp-has-submenu {
					&.wp-not-current-submenu {
						&.opensub {
							&:hover {
								&:after {
									border-right-color: transparent !important;
								}
							}
							.wp-submenu {
								//------------------
								animation-name: slideInLeft;
								animation-duration: 100ms;
								animation-fill-mode: both;
								animation-timing-function: ease-out;
								//------------------
								border-radius: 4px !important;
								li a {
									margin: 0 5px 5px 0;
									&:after {
										border-right-color: transparent;
									}
								}
							}
							box-shadow: var(--card-border-shadow);
						}
					}
				}
				&.wp-has-current-submenu {
					a {
						margin-bottom: 0;
						&.wp-has-current-submenu {
							background-color: var(--primary-color);
							border-bottom-left-radius: 0;
							border-bottom-right-radius: 0;
							border-bottom: 1px dashed var(--primary-text-color);
							&:after {
								border-right-color: transparent;
							}
						}
						&:after {
							border-right-color: transparent;
						}
					}
				}
			}

			div.wp-menu-image {
				background-repeat: no-repeat;
				text-align: left;
				-webkit-text-stroke: 1px var(--border-menu-icons);
				&::before {
					color: var(--background-menu-icons);
					width: 26px;
					height: 26px;
					font-size: 26px;
					padding: 0;
				}
			}
			div.icon-replaced {
				width: 26px;
				height: 26px;
				background-size: 26px 26px;
				&::before {
					display: none;
				}
			}
			.awaiting-mod,
			.menu-counter,
			.update-plugins {
				background-color: #f1700d !important;
				vertical-align: baseline;
				.feature-count,
				.theme-count,
				span {
					color: #fff !important;
				}
			}
		}
	}
	div.separator {
		border-bottom: 1px dashed var(--border-color);
	}
}

//--- DELETE TRIANGLE IN FIRST MENU LEVEL ---
#adminmenu {
	li.wp-has-submenu.wp-not-current-submenu {
		&:focus-within {
			&:after {
				border-right-color: transparent !important;
			}
		}
	}
}
//--- ANIMATION FOR SUBMENUS ---
@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translateX(-30%);
		visibility: visible;
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes slideDown {
	0% {
		height: 0;
	}
	100% {
		height: fit-content;
	}
}

//--- MENU COLLAPSED ---
.folded {
	#adminmenumain {
		#adminmenuback {
			width: 50px;
			transition: width 0.3s ease-out !important;
		}

		#adminmenuwrap {
			width: 50px;
			top: -4px;
			#adminmenu {
				.wp-submenu {
					margin-left: 12px;
				}
			}
			#menu_user_profile_container {
				padding: 0;
				margin: 60px 0 0 0;
				height: 0;
				width: 0;
				opacity: 0;
			}
		}
		#ma_brand_image {
			width: 50px !important;
			height: 50px !important;
			position: fixed;
			top: 38px;
			z-index: 99;
		}
	}
	#wpcontent,
	#wpfooter {
		margin-left: 50px;
	}
}

body .is-fullscreen-mode {
	&#adminmenumain {
		display: none;
	}
}

@media screen and (max-width: 782px) {
	#adminmenuback {
		top: 50px !important;
	}
	#adminmenuwrap {
		top: 50px !important;
		background-color: #f1700d;
		#adminmenu {
			top: 240px !important;
		}
	}
}
