table.wp-list-table,
table.widefat {
	box-shadow: var(--input-shadow);
}
.wp-list-table,
.widefat {
	border: none !important;
	border-radius: 5px;
	overflow: hidden;
	thead,
	tfoot {
		tr {
			background-color: var(--button-background-color);
			th {
				color: var(--text-color);
				border-top: 1px solid var(--button-border-color) !important;
				border-bottom: 1px solid var(--button-border-color) !important;
				border-left: 1px dotted var(--button-border-color) !important;
				overflow: hidden;
				a {
					span {
						color: var(--text-color);
					}
				}
				.comment-grey-bubble:before {
					color: var(--text-color);
				}
				&:last-child {
					border-right: 1px solid var(--button-border-color) !important;
					overflow: hidden;
				}
			}
			td {
				color: var(--text-color);
				border-top: 1px solid var(--button-border-color) !important;
				border-bottom: 1px solid var(--button-border-color) !important;
				border-left: 1px solid var(--button-border-color) !important;
			}
		}
	}
	tbody {
		tr {
			background: var(--card-background-color);
			border-bottom: 1px solid var(--button-border-color) !important;
			&:nth-child(odd) {
				background: var(--secondary-color);
			}
			td {
				border-bottom: 1px dashed var(--button-border-color) !important;
				strong,
				.second {
					color: var(--dark);
				}
				.importer-desc {
					color: var(--dark);
				}
			}
			.inline-edit-wrapper,
			.comment-reply {
				background-color: var(--card-background-color);
			}
			//--- edición rápida
			fieldset {
				label {
					span {
						&.title {
							float: unset;
						}
						&.input-text-wrap {
							margin-left: unset;
						}
					}
				}
				&.inline-edit-col-right {
					width: 61% !important;
				}
			}
		}
		th {
			border-bottom: 1px dashed var(--button-border-color) !important;
		}
	}
	.sorting-indicator:before {
		color: var(--text-color);
	}
}
