@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
/* @import url('dashboard/dashboard.scss'); */

* {
	font-family: var(
		'Helvetica Neue',
		Helvetica,
		'PingFang SC',
		'Hiragino Sans GB',
		'Microsoft YaHei',
		'SimSun',
		sans-serif
	);
}
html.wp-toolbar {
	//padding-top: 0;
}
body {
	background-image: var(--body-background-img) !important;
	background-attachment: fixed !important;
}
#wpadminbar {
	/*display: none !important;*/
}
.wp-core-ui {
	//--- LINKS ---
	a {
		color: var(--link-color);
	}
	/*--- BUTTONS ---*/
	.button,
	.button.button-large {
		background-color: var(--button-background-color);

		border-radius: 4px;
		border: 1px solid var(--button-border-color) !important;
		color: var(--button-text-color) !important;
		box-shadow: var(--input-shadow);
		font-weight: normal !important;
		font-size: 1.08em;
		line-height: 1;
		outline: none;
		padding: 12px 20px;
		text-shadow: 0 0px 0 rgba(255, 255, 255, 0.5);
		vertical-align: middle;
		&:hover {
			background-color: var(--secondary-color) !important;
			border-color: var(--primary-color) !important;
			color: var(--primary-color) !important;
			transition: background-color 0.3s ease-out, border-color 0.3s ease-out,
				color 0.3s ease-out !important;
		}
		&:focus {
			box-shadow: var(--input-shadow) !important;
		}
	}
	.button-primary {
		color: var(--primary-text-color) !important;
		background-color: var(--primary-color) !important;
	}

	/*--- INPUTS ---*/
	input[type='text'],
	input[type='password'],
	input[type='color'],
	input[type='date'],
	input[type='datetime'],
	input[type='datetime-local'],
	input[type='email'],
	input[type='month'],
	input[type='number'],
	input[type='search'],
	input[type='tel'],
	input[type='text'],
	input[type='time'],
	input[type='url'],
	input[type='week'] {
		background-color: var(--input-background-color);
		border-radius: 4px;
		border-color: var(--border-color);
		box-shadow: var(--input-shadow);
		color: var(--text-color);
		height: unset;
		line-height: 1;
		padding: 10px;
		vertical-align: middle;
		&:hover {
			border-color: var(--border-color-hover);
		}
		&:focus {
			border-color: var(--primary-color);
			box-shadow: var(--input-shadow);
			transition: background-color 0.3s ease-out, border-color 0.3s ease-out,
				color 0.3s ease-out !important;
		}
		&:disabled {
			background-color: var(--input-background-color-disabled);
		}
	}
	input[type='radio'] {
		box-shadow: var(--input-shadow);
		appearance: none;
		accent-color: var(--primary-color);
		&:hover {
			border-color: var(--border-color-hover);
		}
		&:focus {
			border-color: var(--primary-color);
			box-shadow: var(--input-shadow);
		}
	}
	textarea {
		background-color: var(--input-background-color);
		border-color: var(--border-color);
		box-shadow: var(--input-shadow);
		color: var(--text-color);
		border-radius: 4px;
		padding: 10px;
		&:hover {
			border-color: var(--border-color-hover);
		}
		&:focus {
			border-color: var(--primary-color);
			box-shadow: var(--input-shadow);
		}
		&:disabled {
			background-color: var(--input-background-color-disabled);
		}
	}

	/*--- CHECKBOX ---*/

	/*--- SELECTS ---*/
	/*select {
		border-radius: 4px;
		background-color: var(--input-background-color);
		border-color: var(--border-color);
		box-shadow: var(--input-shadow);
		line-height: 2.65;
		&:hover {
			border-color: var(--border-color-hover);
			color: var(--text-color);
		}
		&:focus {
			border-color: var(--primary-color);
			box-shadow: var(--input-shadow);
		}
		&:disabled {
			background-color: var(--input-background-color-disabled);
		}
	}*/
}
.wrap {
	h1 {
		color: var(--text-color);
		font-size: 3em;
		font-weight: lighter;
		padding: 0.5em 0;
		display: block !important;
	}
	.page-title-action {
		background-color: var(--primary-color) !important;
		border-radius: 4px;
		border: 1px solid var(--primary-color) !important;
		box-shadow: var(--input-shadow);
		color: var(--primary-text-color) !important;
		font-weight: normal !important;
		font-size: 1em;
		line-height: 1;
		outline: none;
		padding: 10px;
		text-shadow: 0 0px 0 rgba(255, 255, 255, 0.5);
		vertical-align: middle;
		transition: background-color 0.3s ease-out, border-color 0.3s ease-out,
			color 0.3s ease-out !important;
		&:hover {
			background-color: var(--secondary-color) !important;
			border-color: var(--primary-color) !important;
			color: var(--primary-color) !important;
		}
		&:focus {
			box-shadow: var(--input-shadow) !important;
		}
		&:active {
			border-radius: 4px;
			font-size: 1em;
			line-height: 1;
			padding: 5px 10px;
		}
	}
	.wp-header-end {
		/*border: 1px solid red;*/
		margin-top: 1em;
	}
}

/*--- FORM TABLE ---*/

.form-table {
	tbody {
		tr {
			padding: 0 0 2em;
			display: flex;
			flex-direction: column;
			th {
				padding: 0 0 0.5em 0;
			}
			td {
				padding: 0;
			}
		}
	}
}
label {
	vertical-align: middle !important;
	line-height: 1em !important;
	height: unset !important;
}
/* ------*/
p.search-box {
	margin-bottom: 2em;
}

h2,
h3 {
	margin: 0 0 1em 0;
}
.tablenav {
	margin: 0 0 2em 0;
	padding: 0 0 0.7em 0;
}
table {
	&.widefat {
		margin-bottom: 2em;
	}
}
/*--- TABS ---*/
nav.nav-tab-wrapper {
	border-bottom: 1px solid var(--button-border-color);
	.nav-tab {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-color: transparent;
		background-color: transparent;
		color: var(--text-color);
		font-weight: normal;
		&:hover {
			background-color: var(--secondary-color);
			border-color: var(--primary-color);
			color: var(--primary-color);
		}
	}
	.nav-tab-active {
		border-color: var(--button-border-color);
		border-bottom: 1px solid var(--button-background-color);
		background-color: var(--button-background-color);
		//color: var(--primary-text-color) !important;
		&:hover {
			border-color: var(--button-border-color);
			border-bottom: 1px solid var(--button-background-color);
			background-color: var(--button-background-color);
		}
	}
}
//--- FORMS ---
.search-form {
	.wp-filter-search {
		vertical-align: baseline !important;
	}
	.SumoSelect {
		margin-top: -4px;
	}
}

.mode-grid .attachments-browser .media-toolbar {
	overflow: unset;
	.media-toolbar-primary {
		align-items: baseline;
	}
	.media-toolbar-secondary {
		margin-top: inherit;
		.SumoSelect {
			margin-right: 1em;
		}
	}
}

.form-wrap p,
p.description {
	color: var(--text-color-soft);
}

#posts-filter {
	.wp-filter {
		.filter-items {
			margin-top: 4px;
		}
	}
}

/*
.logout-button {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 9;
}

#screen-meta-links {
	margin: 0 50px 8px 0 !important;
}
*/
//--- TOOLS ---
.card {
	background-color: var(--card-backgroud-color);
}
.health-check-header,
.privacy-settings-header {
	background-color: transparent;
}
.health-check-accordion-trigger,
.privacy-settings-accordion-trigger {
	background-color: var(--button-background-color);
	&:hover {
		background-color: var(--secondary-color);
	}
	&:focus {
		background-color: var(--secondary-color);
		outline: none;
	}
	.badge {
		background-color: var(--primary-color);
		color: var(--primary-text-color);
		border-radius: 5px;
		border: none !important;
	}
}
.health-check-accordion-panel,
.privacy-settings-accordion-panel {
	background-color: var(--card-backgroud-color);
}
